<div class="employeeview-container">
    <a [routerLink]="listUrl" class="employeeview-container--back-btn">Back</a>

    <h2>Employee View</h2>

    <div class="employeeview-container__detail">
        <div>
            <label>Employee Name:</label>
            <span>Employee1</span>
        </div>
        <div>
            <label>Employee DOB:</label>
            <span>16th Jan 1980</span>
        </div>
        <div>
            <label>Employee Address:</label>
            <span>Ahmedabad</span>
        </div>
        <div>
            <a [routerLink]="detailUrl">Employee Details</a>
        </div>
    </div>
    
</div>