// --------------------------------------------------------------------------------------
// ================================== Mixin common methods  =============================
// --------------------------------------------------------------------------------------

//
// Clearfix
//
@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

//
// height-width mixin
//
@mixin square($size) {
    height: $size;
    width: $size;
}


//
// Border Radius mixin
//
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

//
// Elipsis mixin
//
@mixin elipsis($width) {
    width: $width;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

//
// Conditional Media Query mixin
//
@mixin respond($breakPoint) {
    @if $breakPoint == phone {
        @media (max-width: 600px) {
            @content;
        }
    }

    @if $breakPoint == tab-port {
        @media (min-width: 600px) and (max-width: 1024px) {
            // 56.25 em
            @content;
        }
    }

    @if $breakPoint == small-desktop {
        @media (min-width: 1025px) and (max-width: 1279px) {
            @content;
        }
    }

    @if $breakPoint == regular-desktop {
        @media (min-width: 1280px) and (max-width: 1440px) {
            @content;
        }
    }

    @if $breakPoint == large-desktop {
        @media (max-width: 1900px) {
            @content;
        }
    }
}

//scrollbar
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
      width:  $size;
      height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
      border-radius: 5px
    }
  
    &::-webkit-scrollbar-track {
      background: $background-color;
      border-radius: 5px;
    }
  
    // For Internet Explorer
    & {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
}