<div class="notification-container">
    <a class="back-btn" [routerLink]="listUrl">Back</a>

    <h2>Notification View</h2>

    <div class="notification-container__detail">
        <div>
            <label>Notification Name:</label>
            <span>Notification1</span>
        </div>
        <div>
            <label>Notification Time:</label>
            <span>10 A.M</span>
        </div>
        <div>
            <label>Notification Description:</label>
            <span>New course added.</span>
        </div>
        <div>
            <a [routerLink]="detailUrl">Notification Details</a>
        </div>
    </div>
</div>