<div class="course-container">
    <a class="back-btn" [routerLink]="listUrl">Back</a>

    <h2>Course View</h2>

    <div class="course-container__detail">
        <div>
            <label>Course Name:</label>
            <span>Course1</span>
        </div>
        <div>
            <label>Course Description:</label>
            <span>Course is related to stream</span>
        </div>
        <div>
            <label>Course Duration:</label>
            <span>2 years</span>
        </div>
        <div>
            <a [routerLink]="detailUrl">Course Details</a>
        </div>
    </div>
</div>