<div class="batch-container">
    <a class="back-btn" [routerLink]="dashboardUrl">Back</a>

    <h2>Batch List</h2>

    <table>
        <tr>
            <th>Sr.No</th>
            <th>Name</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>1</td>
            <td>
                <a [routerLink]="viewUrl">batch 1</a>
            </td>
            <td>
                10 A.M to 12 P.M
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                <a [routerLink]="viewUrl">batch 2</a>
            </td>
            <td>
                12 P.M to 2 P.M
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>
                <a [routerLink]="viewUrl">batch 3</a>
            </td>
            <td>
                2 P.M to 4 P.M
            </td>
        </tr>
    </table>
</div>