<div class="course-container">
    <a class="back-btn" [routerLink]="dashboardUrl">Back</a>

    <h2>Course List</h2>

    <table>
        <tr>
            <th>Sr.No</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>1</td>
            <td>
                <a [routerLink]="viewUrl">Course 1</a>
            </td>
            <td>
                Couser is related to commerce stream
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                <a [routerLink]="viewUrl">Course 2</a>
            </td>
            <td>
                Couser is related to science stream
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>
                <a [routerLink]="viewUrl">Course 3</a>
            </td>
            <td>
                Couser is related to arts stream
            </td>
        </tr>
    </table>
</div>