@import '../../../../../../assets/scss/abstracts/abstracts';

.course-container{
    padding: 50px;

    h2{
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 30px;
    }

    .back-btn{
        text-decoration: none;
        color: $black-color;
        font-size: 24px;
        font-weight: 600;
        display: block;
        margin: 0px 0 30px;
    }

    table{
        tr{
            th{
                padding: 12px;
                text-align: center;
            }

            td{
                padding: 12px;
                font-size: 14px;
                line-height: 18px;
                border-bottom: 1px solid;
                
                a{
                    text-decoration: none;
                    color: $black-color;
                }
            }
        }
    }
}