@import '../../../../../../assets/scss/abstracts/abstracts';

a{
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
    color: $black-color;
    margin: 30px 50px;
    display: block;
}

h2{
    font-size: 48px;
    line-height: 58px;
    margin: 30px 50px;
}